<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa!</h1>

        <p>Olet saapunut drinkin <span th:text="${drinkki.nimi}">drinkki</span> sivulle.</p>

        <p>Drinkin <span th:text="${drinkki.nimi}">drinkki</span> raaka-aineita:</p>

        <ul>
            <li th:each="raakaAineDrinkissa: ${raakaAineetDrinkissa}">
                <span th:text="${raakaAineDrinkissa.nimi}">raaka-aineen nimi</span>, 
                <span th:text="${raakaAineDrinkissa.maara}">maara</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="${'/drinkit/' + drinkki.id + '/poistaRaaka-aine/' + raakaAineDrinkissa.id}">Poista</a>
            </li>
        </ul>

        <p>Lisää raaka-aine drinkkiin <span th:text="${drinkki.nimi}">drinkki</span>:</p>
        
        <form method="POST" th:action="${'/drinkit/' + drinkki.id}">

            <select name="nimi">
                <option th:each="raakaAineEiDrinkissa : ${raakaAineetEiDrinkissa}" th:value="${raakaAineEiDrinkissa.nimi}" th:text="${raakaAineEiDrinkissa.nimi}"></option>
            </select>
            
            <span>Määrä:</span>
            <input type="text" name="maara"/>
            
            <span>Järjestys:</span>
            <input type="text" name="jarjestys"/>


            <input type="submit" value="Lisää raaka-aine"/>    
        </form>
        
        <br/><a href="/raaka-aineet">Tarkastele ja lisää raaka-aineita</a>
        <p><a th:href="${'/drinkit/poista/' + drinkki.id}">Poista drinkki <span th:text="${drinkki.nimi}">drinkki</span></a></p>
        <br/><p><a href="/drinkit">Tästä drinkkilistaukseen</a></p>
        <p><a href="/lisaa">Lisää drinkki</a></p>
    </body>
</html>