<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Drinkkilistaus</h1>
        <p><a href="/drinkit/kategoriat/kaikki">Kaikki drinkit</a>
        <a href="/drinkit/kategoriat/Alkoholiton">Alkoholittomat</a>
        <a href="/drinkit/kategoriat/Aperitiivi">Aperitiivit</a>
        <a href="/drinkit/kategoriat/Cocktail">Cocktailit</a>
        <a href="/drinkit/kategoriat/Muu">Muut</a></p>

        <ul>
            <li th:each="drinkki: ${drinkit}">
                <a th:href="${'/drinkit/' + drinkki.id + '/ok'}" th:text="${drinkki.nimi}">linkki</a>
                <a th:href="${'/drinkit/poista/' + drinkki.id}">Poista</a>
            </li>
        </ul>
        
        <p><a href="/lisaa/ok">Lisää drinkki</a></p>
        <p><a href="/raaka-aineet/ok">Tarkastele ja lisää raaka-aineita</a></p>
    </body>
</html>