<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <p th:text="${virhe}" style="color:red;">error message</p>
        <p th:text="${onnistui}" style="color:blue;">success message</p>
        
        <h1><span th:text="${drinkki.nimi}">drinkki</span></h1>

        <p>T&auml;&auml;lt&auml; n&auml;et drinkin ominaisuuksia, ja pystyt muokkaamaan niit&auml;.</p>

        <p>Drinkin <span th:text="${drinkki.nimi}">drinkki</span> raaka-aineita:</p>

        <ul>
            <li th:each="raakaAineDrinkissa: ${raakaAineetDrinkissa}">
                <span th:text="${raakaAineDrinkissa.nimi}">raaka-aineen nimi</span>, 
                <span th:text="${raakaAineDrinkissa.maara}">maara</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="${'/drinkit/' + drinkki.id + '/poistaRaaka-aine/' + raakaAineDrinkissa.id}">Poista</a>
            </li>
        </ul> <br/>
        
        <p> Drinkin ohje:</p><br/>
        <span th:text="${drinkki.ohje}">ohje</span><br/><br/>
        
        <p>Drinkki kuuluu kategorioihin:</p> 
        <ul> 
            <li th:each="DrinkinKategoria: ${DrinkinKategoriat}"> 
                <span th:text="${DrinkinKategoria.nimi}">kategorian nimi</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="${'/drinkit/' + drinkki.id + '/poistaKategoria/' + DrinkinKategoria.id}">Poista</a>
            </li>
        </ul>  
        <hr></hr>
        <p>Lis&auml;&auml; raaka-aine drinkkiin <span th:text="${drinkki.nimi}">drinkki</span>:</p>
        
        <form method="POST" th:action="${'/drinkit/' + drinkki.id + '/ok'}">

            <select name="nimi">
                <option th:each="raakaAineEiDrinkissa : ${raakaAineetEiDrinkissa}" 
                        th:value="${raakaAineEiDrinkissa.nimi}" th:text="${raakaAineEiDrinkissa.nimi}"></option>
            </select>
            
            <span>M&auml;&auml;r&auml;:</span>
            <input type="text" name="maara" maxlength="300"/>
            
            <span>J&auml;rjestysnumero:</span>
            <input type="text" name="jarjestys" maxlength="9"/>


            <input type="submit" value="Lis&auml;&auml; raaka-aine"/> <br/> <br/>   
        </form> 
        
        P&auml;ivit&auml; drinkin ohje:
        <form method = "POST" th:action="${'/drinkit/' + drinkki.id + '/ohje'}">

            <textarea name="ohje" rows = "15" cols = "70" maxlength="1500" ></textarea>
            <input type = "submit" value = "Lis&auml;&auml; ohje" /><br/><br/>

        </form>
        
        <form method="POST" th:action="${'/drinkit/' + drinkki.id + '/kategoria'}">
            
            Lis&auml;&auml; kategoria:<br/><br/>
            <select name="kategoria">
                <option th:each="drinkkiEiKategoriassa : ${drinkkiEiKategorioissa}" 
                        th:value="${drinkkiEiKategoriassa.nimi}" th:text="${drinkkiEiKategoriassa.nimi}"></option>
            </select><br/><br/>
            <input type="submit" value="Lis&auml;&auml; kategoria"/>
            
        </form>
        
        <br/><a href="/raaka-aineet/ok">Tarkastele ja lis&auml;&auml; raaka-aineita</a>
        <p><a th:href="${'/drinkit/poista/' + drinkki.id}">Poista drinkki <span th:text="${drinkki.nimi}">drinkki</span></a></p>
        <br/><p><a href="/drinkit/ok">T&auml;st&auml; drinkkilistaukseen</a></p>
        <p><a href="/lisaa/ok">Lis&auml;&auml; drinkki</a></p>
    </body>
</html>