<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    
    <head>
        <title>Lisäys</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <form method="POST" action="/lisaa/ok">
            <span>Drinkin nimi:</span><br/>
            <input type="text" name="nimi"/><br/>
            
            Kategoria:<br/>
            <select name="kategoria">
                <option value="Alkoholiton">Alkoholiton</option>
                <option value="Aperitiivi">Aperitiivi</option>
                <option value="Cocktail">Cocktail</option>
                <option value="Muu">Muu</option>
            </select><br/>
            
            <input type="submit" value="Lisää drinkki"/><br/>
        </form>
        
        <p th:text="${virhe}" style="color:red;">error message</p>
        
        <br/><p><a href="/drinkit">Tästä drinkkilistaukseen</a></p>
        <p><a href="/raaka-aineet/ok">Tarkastele ja lisää raaka-aineita</a></p>
    </body>
</html>
