<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    
    <head>
        <title>Lisäys</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <form method="POST" action="/lisaa">
            <span>Drinkin nimi:</span><br/>
            <select th:each="drinkki: ${drinkit}">
                
                <option th:text="${drinkki.nimi}">drinkin nimi</option>
            </select><br/>
            
            Lisää uusi nimi:<br/>
            <input type="text" name="nimi"/><br/>
            
            Kategoria:<br/>
            <select name="kategoria">
                <option value="volvo">Alkoholiton</option>
                <option value="saab">Aperitiivi</option>
                <option value="mercedes">Cocktail</option>
                <option value="audi">Muu</option>
            </select><br/>
            
            <input type="submit" value="Lisää drinkki"/><br/>    
        </form>    
    </body>
</html>
