<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet</h1>
        <ul>
            <li th:each="raakaAine: ${raakaAineet}">
                <span th:text="${raakaAine.nimi}">raakaAineen nimi</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="${'/raaka-aineet/poista/' + raakaAine.id}">Poista</a>
            </li>
        </ul>

        <form method="POST" action="/raaka-aineet/ok">
            <span>Raaka-aineen nimi:</span><br/>
            <input type="text" name="nimi"/><br/>
            <br/>
            <input type="submit" value="Lisää raaka-aine"/><br/>    
        </form>
        
        <p th:text="${virhe}" style="color:red;">error message</p>
        
        <h1>Raaka-ainetilasto</h1>
        <ul>
            <li th:each="rivi: ${tilasto}">
                <span th:text="${rivi}">tilasto</span>
            </li>
        </ul>
        
        <p><a href="/drinkit">Tästä drinkkilistaukseen</a></p>
        <p><a href="/lisaa/ok">Lisää drinkki</a></p>

    </body>
</html>